/*全体スタイル*/
*{
  box-sizing: border-box;
}

/*body初期スタイル調整*/
body{
  font-size: 16px;
  line-height: 1.5;
  font-family: Yu Gothic, sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

h1,h2,h3{
  margin-top: 0;
  list-style: 1.5;
  letter-spacing: 0;
  text-align: center;
}

h1{
  margin-top: 180px;
  margin-bottom: 0;
  font-size: 68px;
}

h2{
  font-size: 60px;
  letter-spacing: 0px;
  margin-bottom: 44.43px;
}

h3{
  color: #85a7cc;
  font-size: 14px;
  margin-bottom: 20px;
}

h4{
  color: #6F7579;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
}

p{
  color: #6F7579;
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: justify;
  letter-spacing: 0px;
  font-weight: bold;
}

address{
  font-style: normal;
}

a{
  color: #666666;
  text-decoration: none;
  &:hover,&:focus{
    color: #000000;
    text-decoration: none;
  }
}

ul{
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

img{
  width: 100%;
  height: auto;
}

section{
  padding: 61px 0 68px 0;
}

.txt-center{
  text-align: center;
}

.txt-lead{
  font-weight: 700;
}

.btn{
  display: block;
  padding: 20px 35px;
  border-radius: 12px;
  margin: 0 auto;
  border: none;
  &:hover,&:focus{
    background: rgba(0,0,0,0.7);
    cursor: pointer;
  }
}

.btn-inquiry{
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
  background: #3F51B5;
  width: 390px;
  height: 83px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  margin-top: 77px;
}

//ブレークポイント
$layout-width-pc-max: 1200px;
$layout-width-pc-min: 768px;
$layout-width-sp-max: 480px;

//sp: - 480px
//tablet: 480 - 767px
//pc: 768 - 1200px
$breakpoints: (
  "sp": "screen and (max-width: #{$layout-width-sp-max})",
  "tab": "screen and (max-width: #{$layout-width-pc-min - 1px})",
  "pc": "screen and (min-width: #{$layout-width-pc-min})",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.inner{
  padding: 0 15px;
  margin: 0 auto;
}

.sp-only{
  display: block;
  
}

.pc-only{
  display: none;
}

//headerのスタイル
.header{
  position: fixed;
  top: 0px;
  width: 100%;
  // padding: 10px;
  background: #3F51B5;
  z-index: 200;
  height: 100px;
  display: flex;
  align-items: center;
}

//サイトロゴとナビゲーションの並び
.header-logo-menu{
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}

//サイトロゴの表示
.logo-area{
  width: 200px;
  margin: 0;
  text-align: left;
}

//ハンバーガーメニュー
.gnav-toggle{
  position: relative;
  margin-top: 12px;
}

//ハンバーガーメニュー用チェックボックス非表示
.gnav-hidden{
  display: none;
}

//ハンバーガーメニューアイコン
#gnav-open{
  //アイコン用スペース
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle; //gnav-toggler内で縦方向に中央揃え

  //アイコン
  span, span::before, span::after{
    content: '';
    position: absolute;
    height: 3px;  //線の太さ
    width: 25px;  //線の長さ
    border-radius: 3px;
    background: #FFF;  //線の色
    display: block;
    cursor: pointer;
  }
  span::before{
    bottom: -8px;   //2本目の線の位置
  }
  span::after{
    bottom: -16px;  //3本目の線の位置
  }
}

//グローバルナビゲーション閉じ用の黒い背景
#gnav-close{
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

//チェックボックスチェック時の挙動
#gnav-input:checked{
  //黒背景表示
  & ~ #gnav-close{
    display: block;
    opacity: 0.5;
  }
  //コンテンツ表示
  & ~ #gnav-content{
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,0.15);
  }
}

//メニューリスト
#gnav-content{
  overflow: hidden; //領域からはみ出たテキストの対応
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: rgba(0,0,0,0.8);
  transition: 0.3s ease-in-out; //2つの状態間の状態遷移
  transform: translateX(-105%); //x方向の移動
}

.gnav-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.gnav-item{
  border-bottom: 2px dotted #eeeeee;
  margin: 10px;
  padding-bottom: 20px;

  a{
    color: #ffffff;
    font-size: 12px;
    display: block;
    width: 200px;
    text-align: center;

    &::first-line{
      font-size: 16px;
      // font-weight: bold;
    }
  }
}

.mv-area{
  width: 100vw;
  height: 100vh;
  background-image: url("../img/mainvisual.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  // h1{
  //   margin-bottom: 12px;
  // }
  p{
    font-size: 38px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.mv-title{
  color: #333333;
}

.card-area{
  background-color: #EFEFEF;
}

.card-content{
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // max-width: 1200px;
  // margin: 0 auto;
}

.card-item{
  padding: 16px 16px 0;
  margin: 0 0 20px 0;
  border-radius: 4px;
  background-color: #fff;

  .box{
    width: 310px;
    height: 161px;
    background-color: #DDDDDD;
    margin: 0 auto;
  }
}

.line{
  width: 76px;
  border-bottom: 5px solid #3F51B5;
  margin: 0 auto 68.57px;
}

//PCレイアウト用設定
@include mq('pc') {
  .inner{
    max-width: $layout-width-pc-max;
  }
  .sp-only{
    display: none;
  }
  .pc-only{
    display: block;
  }
  .logo-area{
    margin-left: 140px;
  }
  //ナビゲーションメニューの横並び化
  .gnav-menu{
    flex-direction: row;
    padding-top: 9px;
    margin: 0;
    margin-left: 542px;
  }
  //ナビゲーションメニューのアイテム設定
  .gnav-item{
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
    a{
      // width: 120px;
      width: auto;
      margin-right: 30px;
      font-weight: normal;

      &:hover{
        color: #85a7cc;
        border-bottom-width: 2px;
        border-color: #E81919;
        border-bottom-style: solid;
        border-radius: 2px;
      }
    }
  }
  .header-logo-menu{
    width: auto;
  }

  .card-content{
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
  }
  
  .card-item{
    flex: 1;
    flex-basis: 342px;
    margin: 0 15px 20px 15px;
  }

  .mv-area{
    height: 700px;
  }
}

