/*全体スタイル*/
*,
*:before,
*:after{
  box-sizing: border-box;
}

/*body初期スタイル調整*/
body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Yu Gothic", sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}

h1,h2,h3{
  margin-top: 0;
  list-style: 1.5;
  letter-spacing: 0;
  text-align: center;
}

h1{
  margin-top: 180px;
  margin-bottom: 0;
  font-size: 68px;
}

h2{
  font-size: 60px;
  letter-spacing: 0px;
  margin-bottom: 36px;
}

h3{
  color: #85a7cc;
  font-size: 14px;
  margin-bottom: 20px;
}

h4{
  color: #6F7579;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
  margin-bottom: 16px;
}

p{
  color: #6F7579;
  margin-top: 0;
  margin-bottom: 1.5em;
  // text-align: justify;
  letter-spacing: 0px;
  font-weight: bold;
}

address{
  font-style: normal;
}

a{
  color: #666666;
  text-decoration: none;
  &:hover,&:focus{
    color: #000000;
    text-decoration: none;
  }
}

ul{
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

img{
  width: 100%;
  height: auto;
}

section{
  padding: 61px 0 68px 0;
}

.txt-center{
  text-align: center;
}

.txt-lead{
  font-weight: 700;
}

.btn{
  display: block;
  padding: 20px 35px;
  border-radius: 12px;
  margin: 0 auto;
  border: none;
  &:hover,&:focus{
    background: rgba(0,0,0,0.7);
    cursor: pointer;
  }
}

.btn-inquiry{
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
  background: #3F51B5;
  width: 390px;
  height: 83px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  margin-top: 77px;
}

//ブレークポイント
$layout-width-pc-max: 1200px;
$layout-width-pc-min: 768px;
$layout-width-sp-max: 480px;

//sp: - 480px
//tablet: 480 - 767px
//pc: 768 - 1200px
$breakpoints: (
  "sp": "screen and (max-width: #{$layout-width-sp-max})",
  "tab": "screen and (max-width: #{$layout-width-pc-min - 1px})",
  "pc": "screen and (min-width: #{$layout-width-pc-min})",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.inner{
  padding: 0 15px;
  margin: 0 auto;
}

.sp-only{
  display: block;
  
}

.pc-only{
  display: none;
}

//headerのスタイル
.header{
  position: fixed;
  top: 0px;
  width: 100%;
  // padding: 10px;
  background: #3F51B5;
  z-index: 200;
  height: 100px;
  display: flex;
  align-items: center;
}

//サイトロゴとナビゲーションの並び
.header-logo-menu{
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}

//サイトロゴの表示
.logo-area{
  width: 200px;
  margin: 0;
  margin-left: 16px;
  text-align: left;
}

//ハンバーガーメニュー
.gnav-toggle{
  position: relative;
  margin-top: 12px;
}

//ハンバーガーメニュー用チェックボックス非表示
.gnav-hidden{
  display: none;
}

//ハンバーガーメニューアイコン
#gnav-open{
  //アイコン用スペース
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle; //gnav-toggler内で縦方向に中央揃え

  //アイコン
  span, span::before, span::after{
    content: '';
    position: absolute;
    height: 3px;  //線の太さ
    width: 25px;  //線の長さ
    border-radius: 3px;
    background: #FFF;  //線の色
    display: block;
    cursor: pointer;
  }
  span::before{
    bottom: -8px;   //2本目の線の位置
  }
  span::after{
    bottom: -16px;  //3本目の線の位置
  }
}

//グローバルナビゲーション閉じ用の黒い背景
#gnav-close{
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

//チェックボックスチェック時の挙動
#gnav-input:checked{
  //黒背景表示
  & ~ #gnav-close{
    display: block;
    opacity: 0.5;
  }
  //コンテンツ表示
  & ~ #gnav-content{
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,0.15);
  }
}

//メニューリスト
#gnav-content{
  overflow: hidden; //領域からはみ出たテキストの対応
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: rgba(0,0,0,0.8);
  transition: 0.3s ease-in-out; //2つの状態間の状態遷移
  transform: translateX(-105%); //x方向の移動
}

.gnav-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.gnav-item{
  border-bottom: 2px dotted #eeeeee;
  margin: 10px;
  padding-bottom: 20px;

  a{
    color: #ffffff;
    font-size: 12px;
    display: block;
    width: 200px;
    text-align: center;

    &::first-line{
      font-size: 16px;
      // font-weight: bold;
    }
  }
}

.mv-area{
  position: relative;
  width: 100vw;
  height: 100vh;
  // background-image: url("../img/mainvisual.png");
  // background-size: cover;
  // background-position: center center;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  // h1{
  //   margin-bottom: 12px;
  // }
  p{
    font-size: 38px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.mv-title{
  color: #333333;
}

.card-area{
  background-color: #EFEFEF;
}

.card-content{
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // max-width: 1200px;
  // margin: 0 auto;
}

.card-item{
  padding: 16px 16px 0;
  margin: 0 0 20px 0;
  border-radius: 4px;
  background-color: #fff;
  // max-width: 342px;

  .box{
    width: 310px;
    height: 161px;
    background-color: #DDDDDD;
    margin: 0 auto;
  }
  p{
    margin-bottom: 33px;
  }
}

.line{
  width: 76px;
  border-bottom: 5px solid #3F51B5;
  margin: 0 auto 65px;
}

.news-area{
  background-color: #FFF;
  .line{
    margin: 0 auto 90.5px;
  }
}

.news-content{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.news-item{
  width: 100%;
  margin: 0 0 20px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #707070;
  time{
    order: 0;
    margin-bottom: 5px;
    font-weight: normal;
  }
  button{
    order: -1;
    margin-bottom: 5px;
  }
  p{
    order: 1;
    font-weight: normal;
    margin-bottom: 10px;
  }
  &:last-child{
    border: none;
    margin-bottom: 16px;
  }
}

.btn_label1,
.btn_label2,
.btn_label3{
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 4.5px 18px;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}
.btn_label1{
  background-color: #666666;
}
.btn_label2{
  background-color: #3F51B5;
}
.btn_label3{
  background-color: #E81919;
}
.news-item-more{
  text-align: center;
  vertical-align: middle;
  a{
    position: relative;
    color: #E81919;
    font-size: 16px;
    font-weight: bold;
    &:after{
      position: absolute;
      content: "\f054";
      font-family: 'Font Awesome 5 Free';
      font-size: 16px;
      top: 50%;
      right: -10.5px;
      -webkit-transform: translate(50%, -40%);
      transform: translate(50%, -40%);
    }
  }
}

.price-area{
  background-color: #EFEFEF;
}
.price-content{
  display: flex;
  flex-direction: column;
}
.price-item-img{
  width: 360px;
  height: 300px;
  margin: 0 auto 10px auto;
}
.price-item-table{
  margin: 20px auto 0 auto; 
  p{
    margin-top: 20px;
    font-weight: normal;
    color: #333333;
    margin-bottom: 34px;
  }
  a{
    text-decoration: underline #333;
  }
}
#Price{
  table{
    border-spacing: 0;
    border-collapse: collapse;
  }
  table, th, td{
    border: 1px solid #444444;
  }
  th{
    background-color: #999999;
    color: #ffffff;
  }
  tr{
    height: 48px;
  }
  td{
    background-color: #ffffff;
    padding-right: 17px;
    text-align: right;
  }
}
.col-1{
  width: 160px;
}
.col-2{
  width: 224px;
}
.col-3{
  width: 224px;
}
.row-3{
  height: 82px;
}
.text-red{
  color: red;
}

.access-area{
  .line{
    margin-bottom: 105px;
  }
  .btn-inquiry{
    margin-top: 37.85px;
    font-size: 20px;
    width: 305px;
    height: 56px;
    padding: 16px 0 14px 59px;
    text-align: left;
    &:after{
      position: relative;
      content: "\f054";
      font-family: 'Font Awesome 5 Free';
      font-size: 20px;
      color: #fff;
      right: -32px;
    }
  }
}

.access-content{
  position: relative;
  width: 100%;
  padding-top: 50%;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  margin: 0 auto 42px;
}

.access-text{
  margin: 0 auto;
  width: 100%;
  padding-left: 40px;
  p{
    font-weight: normal;
    margin-bottom: 15px;
  }
  p:nth-of-type(odd)
  {
    width: 5em;
    margin-right: 38px;
  }
  li{
    display: flex;
    flex-direction: row;
  }
}

/* contact */
//フォームレイアウトリセット
.form-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #3F51B5;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}
.form-text:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}
.form-textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #3F51B5;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 240px;
  padding: 0.4em 0.8em;
  width: 100%;
  margin-bottom: 40.62px;
}
.form-textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}
.form-radio {
  display: none;
}
.form-radio + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 30px 0 0.2em;
  padding: 0 0 0 39px;
  position: relative;
}
.form-radio + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  // box-sizing: border-box;
}
.form-radio + span::after {
  -webkit-transform: translateY(-50%);
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 18px;
  left: 6px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 18px;
}
.form-radio:checked + span::after {
  opacity: 1;
}
.form-check {
  display: none;
  margin: 0 auto;

}
.form-check + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}
.form-check + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  content: "";
  display: block;
  height: 30px;
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}
.form-check + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #3F51B5;
  border-left: 3px solid #3F51B5;
  content: "";
  display: block;
  height: 14px;
  left: -25px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}
.form-check:checked + span::after {
  opacity: 1;
}
.form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid #3F51B5;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}
.form-select::-ms-expand {
  display: none;
}
.form-select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}
.form-submit {
  -webkit-appearance: none;
  background-color: #3F51B5;
  background-image: none;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 0.6em 2em;
  text-decoration: none;
  width: 261px;
  height: 56px;
}
.form-submit:hover,
.form-submit:focus {
  outline: none;
}
.form-submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.contact-area{
  background-color: #EFEFEF;
}
form{
  width: 90%;
  max-width: 800px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px 0;
  dl{
    margin: 0 auto;
    width: 90%;
  }
  dt{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  dd{
    margin-left: 0;
  }
  dt,dd{
    width: 100%;
  }
  input[type="text"], input[type="email"], select, textarea{
    display: block;
    width: 100%;
  }
  input[type="text"], input[type="email"], select{
    height: 60px;
  }
}
.contact-item{
  display: block;
  margin-bottom: 49px;
  a{
    text-decoration: underline #333333;
  }
}
.contact-submit{
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
.contact-submit-wrap{
  width: 261px;
  margin: 0 auto;
  position: relative;
  &::after{
    content: '';
    width: .6em;
    height: .6em;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18.5px;
    margin: auto;
    -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
}
.form-mandatory{
  display: inline-block;
  position: relative;
  width: auto;
}
.form-mandatory::after{
  content: "必須";
  font-size: 14px;
  color: #ffffff;
  background-color: #E81919;
  border-radius: 12px;
  text-align: center;
  width: 45.98px;
  line-height: 22.72px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}
.txt-center-block{
  display: block;
  text-align: center;
}

.mv-text{
  position: absolute;
  z-index: 2  ;
  text-align: center;
}
#mv{
  padding-bottom: 0;  
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.swiper-button-prev, .swiper-button-next{
  z-index: 10000;
  width: 75px;
  height: 75px;
}
.swiper-button-prev{
  top: 38%;
  left: 11%;
}
.swiper-button-next{
  top: 38%;
  right: 11%;
}
.swiper-button-prev::after, .swiper-button-next::after{
  content: "";
}
.swiper-pagination-bullet{
  width: 16px;
  height: 16px;
  background: #2F7DC8;
}

.drawer-nav{
  width: 200px;
}
.drawer-menu-item{
  height: 50px;
  padding-left: 20px;
  border-bottom: 1px dashed #707070;
  position: relative;
  &:after{
    position: absolute;
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: 900;
    top: 50%;
    right: 21.5px;
    transform: translateY(-50%);
  }
}
.drawer--right.drawer-open .drawer-hamburger{
  right: 205px;
}
.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before{
  background-color: #fff;
  height: 4px;
}
.drawer-overlay{
  background-color: rgba(0,0,0,.8);
}
.drawer-hamburger{
  top: auto;
  margin-right: 18.69px;
}

.floating {  
  position: fixed;
  right: 8px;
  bottom: 8px;
  display: none;
  a{
    display: block;
    color: #fff;
    background: #000;
    padding: 8px;
    text-decoration: none;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }    
  }
}

//PCレイアウト用設定
@include mq('pc') {
  .inner{
    max-width: $layout-width-pc-max;
  }
  .sp-only{
    display: none;
  }
  .pc-only{
    display: block;
  }
  .logo-area{
    margin-left: 140px;
  }
  //ナビゲーションメニューの横並び化
  .gnav-menu{
    flex-direction: row;
    padding-top: 9px;
    margin: 0;
    margin-left: 542px;
  }
  //ナビゲーションメニューのアイテム設定
  .gnav-item{
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
    a{
      // width: 120px;
      width: auto;
      margin-right: 30px;
      font-weight: normal;

      &:hover{
        color: #85a7cc;
        border-bottom-width: 2px;
        border-color: #E81919;
        border-bottom-style: solid;
        border-radius: 2px;
      }
    }
  }
  .header-logo-menu{
    width: auto;
  }

  .card-content{
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 5px;
  }
  
  .card-item{
    flex: 1;
    flex-basis: 342px;
    margin: 0 15px 20px 15px;
  }

  .mv-area{
    height: 700px;
  }

  .news-content{
    width: 100%;
    max-width: 838px;
    // margin: 0 auto;
  }
  
  .news-item{
    // width: 100%;
    margin-bottom: 18.5px;
    // background-color: #fff;
    // display: flex;
    flex-direction: row;
    // border-bottom: 1px solid #707070;
    time{
      order: -1;
      min-width: 90px;
      margin-top: 4px;
      margin-right: 25px;
      // padding: 4px 30px 21.5px 7.5px;
      // margin-bottom: 5px;
      // font-weight: normal;
    }
    button{
      order: 0;
      margin-right: 30px;
      margin-bottom: 16.5px;
      // margin-bottom: 5px;
    }
    p{
      order: 1;
      max-width: 576px;
      margin-top: 4px;
      margin-bottom: 16.5px;
      // font-weight: normal;
      // margin-bottom: 10px;
    }
    // &:last-child{
    //   border: none;
    // }
  }

  .price-content{
    flex-direction: row;
    justify-content: center;
  }
  .price-item-img{
    margin-right: 122px;
    margin-left: 0;
  }
  .price-item-table{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .access-content{
    padding-top: 0;
    width: 800px;
    height: 400px;
  }
  .access-text{
    width: 800px;
  }

  .contact-item{
    display: flex;
    justify-content: center;
  }
  .form-mandatory{
    width: 177px;
    &::after{
      right: auto;
      left: 0 ;
      top: 55px;
    }
  }
  form{
    dl{
      width: 705px;
    }
    dt{
      width: 177px;
      padding-top: 18px;
    }
    dd{
      width: 528px;
    }
    // .align-left{
    //   left: 0;
    //   position: relative;
    // }
    .width-0{
      width: 0  ;
    }
    .justify-content-left{
      justify-content: left;
    }
    .margin-bottom-0{
      margin-bottom: 0;
    }
    .txt-center-block{
      margin-bottom: 29.65px;
    }
  }
}



