@charset "UTF-8";
/*共通*/
/*全体スタイル*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*body初期スタイル調整*/
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Montserrat", "Yu Gothic", sans-serif;
  font-weight: 400;
  color: #3E3E3E;
  background-color: #fff;
  overflow-x: hidden;
}

h1, h2, h3 {
  margin-top: 0;
  list-style: 1.5;
  letter-spacing: 0;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-size: 30px;
}

h2 {
  font-size: 30px;
  letter-spacing: 0px;
  margin-bottom: 36px;
  font-weight: 600;
  line-height: 37px;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
  margin-bottom: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  letter-spacing: 0px;
}

address {
  font-style: normal;
}

a {
  color: #666666;
  text-decoration: none;
}

a:hover, a:focus {
  color: #000000;
  text-decoration: none;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.txt-center {
  text-align: center;
}

.txt-lead {
  font-weight: 700;
}

.h2-title {
  font: 600 30px/37px Montserrat;
  letter-spacing: 0px;
}

.btn {
  display: block;
  padding: 20px 35px;
  border-radius: 12px;
  margin: 0 auto;
  border: none;
}

.btn:hover, .btn:focus {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.btn-inquiry {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  background: #FFAA3B;
  width: 232px;
  height: 50px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
}

.inner {
  margin: 0 auto;
  width: 343px;
  padding-top: 37px;
}

.sp-only {
  display: block;
}

.pc-only {
  display: none;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #F3F3F3;
  z-index: 200;
  height: 68px;
  display: flex;
  align-items: center;
}

.header-logo-menu {
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}

.logo-area {
  width: 200px;
  margin: 0;
  margin-left: 16px;
  text-align: left;
}

.logo-area img {
  margin-top: 1px;
}

.gnav-toggle {
  position: relative;
  margin-top: 12px;
}

.gnav-hidden {
  display: none;
}

#gnav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

#gnav-open span, #gnav-open span::before, #gnav-open span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #FFF;
  display: block;
  cursor: pointer;
}

#gnav-open span::before {
  bottom: -8px;
}

#gnav-open span::after {
  bottom: -16px;
}

#gnav-close {
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

#gnav-input:checked ~ #gnav-close {
  display: block;
  opacity: 0.5;
}

#gnav-input:checked ~ #gnav-content {
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

#gnav-content {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease-in-out;
  transform: translateX(-105%);
}

.gnav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.gnav-item {
  border-bottom: 2px dotted #eeeeee;
  margin: 10px;
  padding-bottom: 20px;
}

.gnav-item a {
  color: #ffffff;
  font-size: 12px;
  display: block;
  width: 200px;
  text-align: center;
}

.gnav-item a::first-line {
  font-size: 16px;
}

.mv-area {
  position: relative;
  width: 100vw;
  height: 667px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("../img/mv.png") -242px 8px no-repeat;
  background-size: 367%;
  background-attachment: fixed;
}

.mv-area p {
  margin-bottom: 41px;
  letter-spacing: 0.4px;
  line-height: 1.6;
}

.mv-title {
  color: #333333;
  font-size: 24px;
  text-align-last: left;
  letter-spacing: 0.02px;
  margin-bottom: 30px;
  line-height: 1.87;
  margin-left: 3px;
}

.service-area {
  background: linear-gradient(to bottom, #3E3E3E 50%, #F3F3F3 50%);
  padding-bottom: 60px;
}

.service-area .h2-title {
  color: #fff;
}

.service-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px 16px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

.service-item {
  padding: 0;
  margin: 0;
  border-radius: 4px;
  background-color: #fff;
}

.service-item img {
  width: 50px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.service-item h3 {
  margin-top: 28px;
  text-align: center;
  font: 600 18px/24px Montserrat;
  letter-spacing: 3.6px;
  margin-bottom: 0;
}

.service-item p {
  text-align: left;
  font: normal 14px/24px Yu Gothic;
  letter-spacing: 0.01px;
  margin-top: 24px;
  margin-bottom: 0;
}

.service-item:nth-of-type(2) {
  margin: 65px 0;
}

.results-area {
  background: #3E3E3E;
  padding-bottom: 40px;
}

.results-area .h2-title {
  color: #fff;
}

.swiper-container {
  padding-left: 16px;
}

.swiper-wrapper {
  width: 100vw;
  height: 251px;
  top: 0;
  left: 0;
}

.swiper-slide {
  background-color: #fff;
}

.swiper-slide h3 {
  text-align: left;
  font: Bold 15px/13px Yu Gothic;
  letter-spacing: 0.01px;
  margin-bottom: 0;
}

.swiper-slide p {
  margin-top: 12px;
  margin-bottom: 0;
  text-align: left;
  font: normal 12px/20px Yu Gothic;
  letter-spacing: 0.01px;
}

.swiper-slide .swiper-slide-text {
  width: 100%;
  padding: 12px;
  padding-right: 13px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  position: relative;
  bottom: 0;
  top: 24px;
  height: 56px;
}

.line {
  width: 76px;
  border-bottom: 5px solid #3F51B5;
  margin: 0 auto 65px;
}

.news-area {
  background-color: #F3F3F3;
  height: 587px;
  position: relative;
}

.news-area .inner {
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  position: relative;
  top: -40px;
}

.news-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 41px;
}

.news-item {
  width: 100%;
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #707070;
  padding: 12px 47px 12.5px 16px;
  position: relative;
}

.news-item time {
  order: -1;
  margin-bottom: 5px;
  font-weight: normal;
  font: Normal 14px/26px Montserrat;
  letter-spacing: 0.35px;
}

.news-item button {
  order: 0;
  margin-bottom: 5px;
  position: absolute;
  top: 12.5px;
  left: 112px;
  width: 89px;
  height: 24px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  text-align: left;
  font: Normal 12px/26px Yu Gothic;
  letter-spacing: 0.3px;
  color: #3E3E3E;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 21px;
}

.news-item p {
  order: 1;
  font-weight: normal;
  margin-bottom: 10px;
  font: 500 14px/22px Yu Gothic;
  letter-spacing: -0.35px;
  margin-top: 3px;
  margin-bottom: 1px;
}

.news-item:first-child {
  border-top: 1px solid #CECDCD;
}

.news-item:nth-of-type(2) {
  padding-top: 15px;
}

.news-item:nth-of-type(2) button {
  top: 15px;
}

.btn_label1,
.btn_label2,
.btn_label3 {
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 4.5px 18px;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  background-color: #fff;
}

.btn_white {
  width: 311px;
  height: 54px;
  border: 1px solid #707070;
  font: 600 18px/23px Montserrat;
  letter-spacing: 3.6px;
  color: #3E3E3E;
  border-radius: 0;
  background-color: #ffffff;
  padding: 0;
  padding-left: 4px;
}

.btn_black {
  max-width: 343px;
  width: 100%;
  height: 54px;
  border: 1px solid #fff;
  font: 600 18px/23px Montserrat;
  letter-spacing: 3.6px;
  color: #fff;
  border-radius: 0;
  background-color: #3E3E3E;
  padding: 0;
  padding-left: 4px;
}

.news-item-more {
  text-align: center;
  vertical-align: middle;
}

.news-item-more a {
  position: relative;
  color: #E81919;
  font-size: 16px;
  font-weight: bold;
}

.news-item-more a:after {
  position: absolute;
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  top: 50%;
  right: -10.5px;
  -webkit-transform: translate(50%, -40%);
  transform: translate(50%, -40%);
}

.price-area {
  background-color: #EFEFEF;
}

.price-content {
  display: flex;
  flex-direction: column;
}

.price-item-img {
  width: 360px;
  height: 300px;
  margin: 0 auto 10px auto;
}

.price-item-table p {
  margin-top: 14px;
  color: #333333;
  margin-bottom: 120px;
  font: normal 12px/20px Yu Gothic;
  letter-spacing: 0px;
}

.price-item-table a {
  text-decoration: underline #333;
}

#Price table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

#Price table, #Price th, #Price td {
  border: 1px solid #707070;
}

#Price th {
  background-color: #3E3E3E;
  color: #ffffff;
  width: 103px;
  font: 600 20px/24px Montserrat;
  letter-spacing: 0px;
}

#Price tr {
  height: 60.5px;
}

#Price td {
  background-color: #ffffff;
  padding-left: 20px;
  text-align: left;
  font: 600 20px/24px Montserrat;
  letter-spacing: 0px;
}

.col-1 {
  width: 160px;
}

.col-2 {
  width: 224px;
}

.col-3 {
  width: 224px;
}

.row-3 {
  height: 82px;
}

.text-red {
  color: red;
}

.comments-area {
  background: #3E3E3E;
}

.comments-area .inner {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161);
  bottom: 60px;
  position: relative;
  padding: 40px 20px;
}

.comments-area .inner .h2-title {
  text-align-last: left;
}

.comments-list {
  margin: 0;
}

.comments-item-list {
  display: flex;
  justify-content: space-between;
}

.comments-item-list img {
  width: 56px;
  height: 56px;
}

.comments-item-list p {
  width: 221.19px;
  text-align: left;
  font: normal 14px/22px Yu Gothic;
  letter-spacing: 0px;
  margin-bottom: 0;
}

.comments-item-list:nth-of-type(2) {
  margin-top: 30px;
}

.qa-area {
  background: url("../img/qa.jpg") -862px 0px no-repeat;
  background-size: 625%;
}

.qa-area .inner {
  padding-bottom: 10px;
}

.qa-item-list {
  background-color: #fff;
  border-radius: 7px;
  padding: 21.5px 18px 18px 18px;
  margin-bottom: 30px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  display: block;
  text-align: left;
  font: Bold 16px/26px Yu Gothic;
  letter-spacing: 0.4px;
  padding-left: 39px;
  position: relative;
  margin-bottom: 0;
}

.question h3:before {
  content: "Q";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font: 600 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #fff;
  background: #3B69FF 0% 0% no-repeat padding-box;
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
}

.question img {
  width: 15px;
  height: 15px;
  display: block;
}

.answer {
  background: rgba(59, 105, 255, 0.2) 0% 0% no-repeat padding-box;
  border-radius: 7px;
  padding: 18px 14px;
  margin-top: 21.5px;
  display: none;
}

.answer p {
  margin: 0;
  text-align: left;
  font: 500 16px/26px Yu Gothic;
  letter-spacing: 0px;
}

.access-area .line {
  margin-bottom: 105px;
}

.access-area .btn-inquiry {
  margin-top: 37.85px;
  font-size: 20px;
  width: 305px;
  height: 56px;
  padding: 16px 0 14px 59px;
  text-align: left;
}

.access-area .btn-inquiry:after {
  position: relative;
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-size: 20px;
  color: #fff;
  right: -32px;
}

.access-content {
  position: relative;
  width: 100%;
  padding-top: 50%;
  margin: 0 auto 42px;
}

.access-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-text {
  margin: 0 auto;
  width: 100%;
  padding-left: 40px;
}

.access-text p {
  font-weight: normal;
  margin-bottom: 15px;
}

.access-text p:nth-of-type(odd) {
  width: 5em;
  margin-right: 38px;
}

.access-text li {
  display: flex;
  flex-direction: row;
}

/* contact */
.form-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #3F51B5;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

.form-text:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.form-textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #3F51B5;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 240px;
  padding: 0.4em 0.8em;
  width: 100%;
  margin-bottom: 40.62px;
}

.form-textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.form-radio {
  display: none;
}

.form-radio + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 30px 0 0.2em;
  padding: 0 0 0 39px;
  position: relative;
}

.form-radio + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.form-radio + span::after {
  -webkit-transform: translateY(-50%);
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 18px;
  left: 6px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 18px;
}

.form-radio:checked + span::after {
  opacity: 1;
}

.form-check {
  display: none;
  margin: 0 auto;
}

.form-check + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

.form-check + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  content: "";
  display: block;
  height: 30px;
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.form-check + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #3F51B5;
  border-left: 3px solid #3F51B5;
  content: "";
  display: block;
  height: 14px;
  left: -25px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}

.form-check:checked + span::after {
  opacity: 1;
}

.form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid #3F51B5;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

.form-select::-ms-expand {
  display: none;
}

.form-select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.form-submit {
  -webkit-appearance: none;
  background-color: #3F51B5;
  background-image: none;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 0.6em 2em;
  text-decoration: none;
  width: 261px;
  height: 56px;
}

.form-submit:hover,
.form-submit:focus {
  outline: none;
}

.form-submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.contact-area {
  background-color: #EFEFEF;
}

form {
  width: 90%;
  max-width: 800px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px 0;
}

form dl {
  margin: 0 auto;
  width: 90%;
}

form dt {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

form dd {
  margin-left: 0;
}

form dt, form dd {
  width: 100%;
}

form input[type="text"], form input[type="email"], form select, form textarea {
  display: block;
  width: 100%;
}

form input[type="text"], form input[type="email"], form select {
  height: 60px;
}

.contact-item {
  display: block;
  margin-bottom: 49px;
}

.contact-item a {
  text-decoration: underline #333333;
}

.contact-submit {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.contact-submit-wrap {
  width: 261px;
  margin: 0 auto;
  position: relative;
}

.contact-submit-wrap::after {
  content: '';
  width: .6em;
  height: .6em;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18.5px;
  margin: auto;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-mandatory {
  display: inline-block;
  position: relative;
  width: auto;
}

.form-mandatory::after {
  content: "必須";
  font-size: 14px;
  color: #ffffff;
  background-color: #E81919;
  border-radius: 12px;
  text-align: center;
  width: 45.98px;
  line-height: 22.72px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

.txt-center-block {
  display: block;
  text-align: center;
}

.mv-text {
  position: absolute;
  z-index: 2;
  text-align: left;
  width: 343px;
  top: 200px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.swiper-button-prev, .swiper-button-next {
  z-index: 10000;
  width: 75px;
  height: 75px;
}

.swiper-button-prev {
  top: 38%;
  left: 11%;
}

.swiper-button-next {
  top: 38%;
  right: 11%;
}

.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #3E3E3E;
  opacity: 1;
  margin: 0 13px;
}

.path {
  display: none;
}

.swiper-pagination-bullet-active .path {
  display: block;
}

.drawer-nav {
  width: 300px;
}

.drawer-menu-item {
  height: 50px;
  padding-left: 20px;
  position: relative;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 319px;
  background-image: url("../img/batsu.png");
  width: 21px;
  height: 21px;
  background-size: 100% 100%;
  margin-right: 0;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
  background-color: #fff;
  height: 0px;
}

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.drawer-hamburger {
  top: auto;
  margin-right: 18.69px;
  background: transparent url("../img/hamburger.png") right bottom no-repeat padding-box;
  width: 26px;
  height: 20px;
  background-size: 100% 100%;
  padding: 0;
}

.drawer--right .drawer-hamburger {
  right: -2px;
  top: 24px;
}

.drawer--right .drawer-nav {
  right: -17.25rem;
}

.floating {
  position: fixed;
  right: 8px;
  bottom: 8px;
  display: none;
}

.floating a {
  display: block;
  color: #fff;
  background: #000;
  padding: 8px;
  text-decoration: none;
  opacity: 0.6;
}

.floating a:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .inner {
    max-width: 1200px;
  }
  .sp-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
  .logo-area {
    margin-left: 140px;
  }
  .gnav-menu {
    flex-direction: row;
    padding-top: 9px;
    margin: 0;
  }
  .gnav-item {
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
  }
  .gnav-item a {
    width: auto;
    margin-right: 30px;
    font-weight: normal;
  }
  .gnav-item a:hover {
    color: #85a7cc;
    border-bottom-width: 2px;
    border-color: #E81919;
    border-bottom-style: solid;
    border-radius: 2px;
  }
  .service-content {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 5px;
  }
  .service-item {
    flex: 1;
    flex-basis: 342px;
    margin: 0 15px 20px 15px;
  }
  .mv-area {
    height: 700px;
    padding-bottom: 0;
  }
  .news-content {
    width: 100%;
    max-width: 838px;
  }
  .news-item {
    margin-bottom: 18.5px;
    flex-direction: row;
  }
  .news-item time {
    order: -1;
    min-width: 90px;
    margin-top: 4px;
    margin-right: 25px;
  }
  .news-item button {
    order: 0;
    margin-right: 30px;
    margin-bottom: 16.5px;
  }
  .news-item p {
    order: 1;
    max-width: 576px;
    margin-top: 4px;
    margin-bottom: 16.5px;
  }
  .price-content {
    flex-direction: row;
    justify-content: center;
  }
  .price-item-img {
    margin-right: 122px;
    margin-left: 0;
  }
  .price-item-table {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .access-content {
    padding-top: 0;
    width: 800px;
    height: 400px;
  }
  .access-text {
    width: 800px;
  }
  .contact-item {
    display: flex;
    justify-content: center;
  }
  .form-mandatory {
    width: 177px;
  }
  .form-mandatory::after {
    right: auto;
    left: 0;
    top: 55px;
  }
  form dl {
    width: 705px;
  }
  form dt {
    width: 177px;
    padding-top: 18px;
  }
  form dd {
    width: 528px;
  }
  form .width-0 {
    width: 0;
  }
  form .justify-content-left {
    justify-content: left;
  }
  form .margin-bottom-0 {
    margin-bottom: 0;
  }
  form .txt-center-block {
    margin-bottom: 29.65px;
  }
  .active-border-bottom {
    border-bottom-width: 2px;
    border-color: #E81919;
    border-bottom-style: solid;
    border-radius: 2px;
  }
  .qa-area {
    background: #dcf3f1;
  }
  .qa-content {
    max-width: 904px;
    width: 100%;
    margin: 0 auto;
  }
  .question {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    background: #3F51B5;
    padding-left: 55px;
  }
  .question h3 {
    text-align: left;
    position: relative;
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .question h3:before {
    content: "Q";
    left: -28px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
  }
  .question span {
    position: absolute;
    right: 18.5px;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 900;
  }
  .answer {
    position: relative;
    display: none;
    width: 100%;
    background: #fff;
    padding: 24px 27px 18px 55px;
    border: 1px solid #3F51B5;
  }
  .answer p {
    margin: 0;
    color: #3F51B5;
    font-weight: normal;
    font-size: 18px;
    position: relative;
  }
  .answer p:before {
    content: "A";
    left: -28px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
  }
  .qa-item-list {
    margin-bottom: 28px;
  }
  .privacyPolicy-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.302);
    display: none;
  }
  .privacyPolicy-modal {
    background-color: #fff;
    position: absolute;
    width: 930px;
    height: 610px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 65px 56.5px 20px 83.5px;
  }
  .privacyPolicy-modal .h2-title {
    font-size: 24px;
    color: #707070;
    margin-bottom: 24.5px;
  }
  .privacyPolicy-modal .line {
    width: 155px;
    border-bottom-width: 2px;
    margin-bottom: 48.5px;
  }
  .privacyPolicy-modal h3 {
    font-size: 20px;
    color: #707070;
    text-align: left;
    margin-bottom: 18px;
    position: relative;
  }
  .privacyPolicy-modal h3:before {
    content: '';
    width: 3px;
    height: 18px;
    background: #3F51B5;
    position: absolute;
    top: 50%;
    left: -27.5px;
    transform: translateY(-50%);
  }
  .privacyPolicy-modal p {
    font-size: 16px;
    font-weight: normal;
    color: #707070;
  }
  .privacyPolicy-modal li {
    margin-bottom: 45px;
  }
  .privacyPolicy-modal button {
    width: 180px;
    height: 38px;
    font-size: 16px;
    border-radius: 12px;
    vertical-align: middle;
    margin-top: 0;
    padding: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  }
  .privacyPolicy-modal img {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
  .privacyPolicy-modal img:hover {
    opacity: 0.8;
  }
}
